@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sofadi+One&family=Teko:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 

    "Fuente Para Titulos" :   font-family: "Teko", sans-serif;


    "Fuente normal " :   font-family: "Noto Sans", sans-serif;

*/

body{
    background-color: #000000;
    color: #fafafa;
    font-family: "Noto Sans", sans-serif;
}

h1 {
    text-align: center;
    font-family: "Teko",sans-serif;
    font-size: 50px;
    font-weight: 200;
    z-index: 4;
}

i {
    color: #fafafa;
}

.header {
    width: 100%;
    background-color: #1b1b1b;
    padding: 20px;
}


.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-title h4 {
    font-size: 40px;
    font-family: "Teko";
    font-weight: 300;
}

.header-title i {
    scale: 1.5;
    margin-left: 15px;
}

.header-text{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.header-text h3 {
    font-family: "Teko", sans-serif;
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 10px;
}

.header-text p {
    font-weight: 300;
    color: #aaa ;
}

.gallery {
    width: 100%;
    flex-direction: row;
}

.gallery-item{
    width: 100%;
    padding: 0;
    position: relative;
    margin-bottom: 40px;
    z-index: 1;

}

.gallery-image {
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: transparent;
}

.gallery-text{
    position: absolute;
    bottom: 20px;
    padding: 10px;
    background-color: #1a1a1aaf;
    width: 100%;
    max-height: 240px;
}

.gallery-text h4 {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    font-family: "Teko", sans-serif;

}

.gallery-text p {
    font-size: 17px;
}



footer{
    width: 100%;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin-top: -46px;
}

footer h5 {
    font-family: "Teko", sans-serif;
    font-size: 25px;
    font-weight: 700;
}

footer p {
    font-weight: 300;
    color: #aaa;
}

