@media (max-width: 330px) {
    :root{

        --fuente-titulos: 22px !important;
        
    }

    .offer h2{
        font-size: 38px !important;
    }

    
    .product-items{
        width: 100%;
        padding: 20px;
        height: 400px;
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
        overflow-y: hidden;
        border-bottom: 0.2em solid #2b2b2b;
    }

    

    .product-item{
        background-color: #fafafa;
        padding: 10px;
        margin-right: 30px;
        width: 200px;
        max-height: 300px;
        box-shadow: 0 8px 6px -6px rgba(104, 99, 99, 0.712);
    
    }
    
    .product-item img {
        max-width: 190px;
    }

}

@media (min-width: 330px) and (max-width: 750px) {
    /* Estilos aquí */
    :root{
        --fuente-titulos: 10px !important;
    }

    .products-title h3{
        font-size: 24px;
    }

    .product-all-items .product-item{
        max-width: 25%;

    }   


    .offer-text{
        padding: 30px;
    }

    #cart-icon{
        opacity: 1;
    }

    #cart-icon-large{
        background-color: #000000;
        opacity: 0;

        color: #fafafa;
        padding: 10px;
        position: fixed;
        bottom: 10%; 
        right: 0;
        font-size: 15px;
        z-index: 4;
        border-radius: 50%;
        border-start-end-radius: 0px;
        border-end-end-radius: 0px;
        transition-duration: 100ms;
    }

    .cart-item-container{
        padding: 9px;
    }

    .cart-item{
        padding: 10px;
        width: 100%;
    }


}

@media (min-width: 411px) {
    .banner {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 40px;
        padding-left: 20px;
    }

    .banner img {
        width: 100%;
    }

    .banner-h5{
        margin-right: 20px;
        position: absolute;
        right: 0 !important;
        font-size: 2.3rem !important;
    }

    #banner-h5-1 {
        top: 0;
    }  

    #banner-h5-2 {
        top: 40px;

    }

    #banner-h5-3 {
        top: 85px;
    }

    #banner-h5-4 {
        top: 130px;
    }


}

@media (min-width: 750px) and (max-width: 1024px) {
    /* Estilos aquí */
    :root{

        --fuente-titulos: 40px !important;
    }
    
    .header-title {
        margin-bottom: -50px;
    }

    .offer-text h2 {
        font-size: 10px;
    }


    .offer-text{
        padding: 20px;
    }



    #cart-icon{
        opacity: 1;
    }

    #cart-icon-large{
        background-color: #000000;
        color: #fafafa;
        padding: 10px;
        position: fixed;
        bottom: 10%; 
        right: 0;
        opacity: 0;
        display: flex;
        font-size: 15px;
        z-index: 4;
        border-radius: 50%;
        border-start-end-radius: 0px;
        border-end-end-radius: 0px;
        transition-duration: 100ms;
    }

    .cart-item-container{
        padding: 9px;
    }

    .cart-item{
        padding: 10px;
        width: 100%;
    }

    .banner {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        padding-right: 40px;
        padding-left: 20px;
    }

    .banner img {
        width: 50%;
    }

    .banner-h5{
        margin-right: 20px;
        position: absolute;
        right: 0 !important;
        font-size: 45px !important;
    }

    #banner-h5-1 {
        top: 0;
    }  

    #banner-h5-2 {
        top: 140px;

    }

    #banner-h5-3 {
        top: 95px;
    }

    #banner-h5-4 {
        top: 50px;
    }

    

    .offer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .offer img{
        width: 100%;
    }

    .product-all-items .product-item{
        max-width: 28%;
    }   

    #map{
        height: 400px !important;
    }

    .map .spacing {
        width: 160px;
        height: 4px;
    }

    .partners .spacing {
        width: 90px;
        height: 4px;
        margin-top: 10px;
    }



    .partners-images img {
        width: 120px;
        height: 55px;
        min-width: 90px;
        min-height: 30px;
        margin-right: 40px;
    }


    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: none;
        padding: 50px;


    }


    .footer-col {
        display: flex;
        height: 400px;
        flex-direction: column;
        border-bottom: none;
        border-left: 1px solid #2b2b2b;
        width: 50%;
        margin: 0;
        padding: 20px;
    }

    .footer-col ul {
        display: flex;
        flex-direction: row;
    }
    #copyright div {
        border-top: 1px solid #2b2b2b;
    }
}

@media (min-width: 1025px){
    /* Estilos aquí */
    :root{

        --fuente-titulos: 40px !important;
    }

    .header {
        width: 100%;
        min-height: 600px;
        background-color: #000000;
        color: #fafafa;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .header-title{
        display: flex;
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
    }
    
    .header-logo {
        width: 80px;
    }
    
    .header-icons{
        scale: 1.8;
    }
    
    .header-icons i {
        margin-left: 5px;
    }
    
    .header-title {
        margin-bottom: -40px;
    }

    .product-item{
        background-color: #fafafa;
        padding: 10px;
        margin-right: 30px;
        width: 300px;
        max-height: 400px;
        box-shadow: 0 8px 6px -6px rgba(104, 99, 99, 0.712);
    
    }
    
    .product-item img {
        width: 100%;
    }
    
    .product-item h4{
        color: #2b2b2b;
        font-weight: 300;
        font-size: 20px;
    }
    
    .product-stars{
        color: rgb(238, 179, 18);
    }
    
    .product-all-items{
        width: 100%;
        padding: 150px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    
    }
    
    .product-all-items .product-item{
        background-color: #fafafa;
        padding: 10px;
        width: 15%;
        max-height: 500px;
        margin: 0;
        margin-left: 22px;
        margin-right: 22px;
        margin-bottom: 30px;
        box-shadow: 0 8px 6px -6px rgba(104, 99, 99, 0.712);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .product-all-items .product-item h4{
        font-size: 20px !important;
        margin-top: 10px;
    }


    .cart{
        width: 40%;
        height: 100%;
        background-color: #fafafab7;
        bottom: 0;
        right: 0;
        padding-top: 0px;
        border: none;
        position: fixed;
        z-index: 3;
        box-shadow: -3px 0px 50px -18px rgba(0,0,0,0.75);

    }

    #cart-icon-large{
        background-color: #000000;
        color: #fafafa;
        padding: 10px;
        position: fixed;
        bottom: 10%; 
        right: 0;
        font-size: 15px;
        z-index: 4;
        border-radius: 50%;
        border-start-end-radius: 0px;
        border-end-end-radius: 0px;
        transition-duration: 100ms;
    }

    .cart-item-container{
        padding: 9px;
    }

    .cart-item{
        padding: 10px;
        width: 100%;
    }

    .banner {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 40px;
        padding-left: 20px;
    }

    .banner img {
        width: 50%;
    }

    .banner-h5{
        margin-right: 20px;
        position: absolute;
        right: 0 !important;
        font-size: 45px !important;
    }

    #banner-h5-1 {
        top: 0;
    }  

    #banner-h5-2 {
        top: 140px;

    }

    #banner-h5-3 {
        top: 95px;
    }

    #banner-h5-4 {
        top: 50px;
    }

    .offer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;


    }

    .offer-text h2{
        font-size: 60px;
    }

    .offer-text h4{
        font-size: 16px;
    }

    .offer img{
        max-width: 500px;
    }

    .product-all-items{
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    
    }
    
    .product-all-items .product-item{
        background-color: #fafafa;
        padding: 10px;
        max-width: 58%;
        max-height: 400px;
        margin: 0;
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 30px;
        box-shadow: 0 8px 6px -6px rgba(104, 99, 99, 0.712);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .product-all-items .product-item img {
        width: 100%;
    }
    
    .product-all-items .product-item h4{
        color: #2b2b2b;
        font-weight: 300;
        font-size: 18px;
    }


    #map{
        height: 400px !important;
    }

    .map .spacing {
        width: 160px;
        height: 4px;
    }

    .partners .spacing {
        width: 90px;
        height: 4px;
        margin-top: 10px;
    }



    .partners-images img {
        max-width: 200px;
        max-height: 160px;
        min-width: 90px;
        min-height: 30px;
        margin-right: 40px;
    }


    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: none;
        padding: 60px;


    }


    .footer-col {
        display: flex;
        height: 250px;
        flex-direction: column;
        border-bottom: none;
        border-left: 1px solid #2b2b2b;
        width: 50%;
        margin: 0;
        padding: 20px;
    }

    .footer-col ul {
        display: flex;
        flex-direction: row;
    }
    #copyright div {
        border-top: 1px solid #2b2b2b;
    }
}

@media (max-width: 1125px){
    .offer {
        padding: 15px;
    }
    
    .offer-text h2{
        font-size: 38px;
    }
}

@media (max-width: 1230px){
    .offer {
        padding: 5px;
    }

    .offer-text h2{
        font-size: 42px;
    }
}


@media (min-width: 1244px){
    .offer {
        padding: 130px;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
    }

    .offer-text h2{
        font-size: 50px;
    }
    .product-item{
        background-color: #fafafa;
        padding: 10px;
        margin-right: 30px;
        width: 300px;
        max-height: 400px;
        box-shadow: 0 8px 6px -6px rgba(104, 99, 99, 0.712);
    
    }
 
    .product-all-items {
        padding: 0px 100px;
    }

    .product-all-items .product-item{
        max-height: 500px;
        max-width: 200px;
    }

    .product-all-items .product-item h4{
        font-size: 20px !important;
        margin-top: 10px;
    }


    #cart-icon-large{
        background-color: #000000;
        color: #fafafa;
        padding: 10px;
        position: fixed;
        bottom: 10%; 
        right: 0;
        font-size: 15px;
        z-index: 4;
        border-radius: 50%;
        border-start-end-radius: 0px;
        border-end-end-radius: 0px;
        transition-duration: 100ms;
    }

    .cart-item-container{
        padding: 9px;
    }

    .cart-itemsContainer{
        width: 100%;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }    

    .cart-item{
        padding: 10px;
        width: 100%;
        height: 100px;
    }

    .cart-item img{
        width: 80px;
    }

    .cart h5 {
        font-size: 11px;
    
    }

    .cart h3 {
        font-size: 11px;
    }

    .cart-item-container h6{
        font-size: 12px !important;
        font-weight: 800;
    }

    .cart-item{
        font-size: 14px;
        padding: 20px;
    }

    .cart-item-buttonDelete{
        border: none;   
        padding: 4px;
        border-radius: 7px;
        color: #fafafa;
        font-size: 12px;
        font-weight: 900;
        background-color: rgb(0, 0, 0);
        cursor: pointer;
    }
} 

